$blue: #51bcda;
$purple: #cc8fcb;
$pink: #ea4c89;
$red: #f5593d;
$orange: #ff4500;
$yellow: #fbc658;
$green: #6bd098;
$teal: #51cbce;
$white: #fff;
$gray: #e3e3e3;
$gray-dark: #66615b;
$gray-light: #eee;

$primary: #51cbce;
$success: #6bd098;
$info: #51bcda;
$warning: #fbc658;
$danger: #f5593d;
$dark: #66615b;

