<div class="footer d-flex align-items-center justify-content-between">
  <div class="cat-counter">
    <i class="fas fa-paw"></i> <%= Cat.all.length %> cats tracked since 8/23/2019
  </div>
  <div class="footer-copyright">
    Xin Wen Yap & Jae Lim Chung  |  Tokyo 2019
  </div>
</div>
