<h1>CATCH</h1>
<p><%= link_to 'All colonies', colonies_path %></p>
<p><%= link_to 'All cats', cats_path %></p>
<p><%= link_to 'All users', users_path %></p>
<p><%= link_to 'Create a new colony', new_colony_path %></p>
