<div class="container my-5">
  <div class="form-container d-flex flex-column justify-content-center m-auto">
    <div class="header-container pt-5 pb-3 text-center">
      <h4>Edit <%= @colony.name %></h4>
    </div>
    <div class="content-container p-5">
      <%= render 'form', colony: @colony %>
    </div>
  </div>
</div>
