<% if params[:query].present? %>
  <h2><%= @colonies.length %> colonies near <%= params[:query].capitalize %></h2>
<% else %>
  <h2>All colonies</h2>
<% end %>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"
></div>
