.card {
  border: none;
  margin: 10px;
}

.img-size {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.card-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.join-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.card-subtitle {
  color: $blue;
}

.event-card {
  background-color: #f7765f;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.members-list-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.confirm-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.sighted-cat-card {
  background-color: white;
  border-radius: 10px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  background-image: cover;
}

.checked {
  text-align: center;
  background-color: #ace5b3;
}

.unchecked {
  text-align: center;
  background-color: white;
}
