.card {
  border: none;
  margin: 10px;
}

.card-image {
  width: 200px;
  height: 100%;
  object-fit: cover;
}

.join-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}

.card-subtitle {
  color: $blue;
}

.event-card {
  background-color: #f7765f;
  color: white;
  border-radius: 10px;
  padding: 20px;
}

.members-list-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.confirm-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  text-align: center;
}

.sighted-cat-card {
  background-color: white;
  border-radius: 10px;
}

// cats

.category-choices {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}

.category-choice {
  background: #b7b7b7;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $teal;
  color: white;
  opacity: 1;
  }
}
