.footer {
  background: #938a80;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 50px;
  color: white;
}

.footer .fa-heart {
  color: #f5593d;
}

//Makes footer sticky

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
