.footer {
  background: #448889;//#9e9e9e; //#aaaaa5;//#bfb7b7;//#939e9e; //#a8b5b5;//#afc9c9;//#938a80; //#9e9d99;//;#ada398;
  height: 60px;
  padding: 0 50px;
  color: white;
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  text-transform: uppercase;
}

.footer .fa-heart {
  color: #f5593d;
}

//Makes footer sticky

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}
