.form-container {
  width: 500px;
  border-radius: 10px;
  background-color: white;
}

.new-colony-form {
  width: 900px;
}

.header-container {
  background-color: $yellow;
  color: $gray-dark;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

textarea.form-control {
  padding: 10px 18px;
  height: auto;
}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
