<h2>Cats of <%= link_to Colony.find(params[:colony_id]).name, colony_path(Colony.find(params[:colony_id])) %> (<%= @cats.length %>)</h2>
<% @cats.each do |cat| %>
  <p><%= link_to cat.name, cat_path(cat) %></p>
<% end %>
